---
import Layout from "../../layouts/Layout.astro";
import Stars from "../../components/background/stars.astro";
import NavBar from "../../components/navfront/nav.astro";
import Planets from "../../components/planets/planets.astro";
---

<Layout title="AndesVr - projects">
  <main>
    <Stars     />
    <NavBar   />
    <Planets />
  </main>
  <style></style>
</Layout>
