---
import Layout from "../../layouts/Layout.astro";
import Card from "./card.astro";
import NavBar from "../../components/navfront/nav.astro";
---

<Layout title="AndesVr - contact">
  <main>
    <NavBar />
    <Card />
  </main>
  <style></style>
</Layout>
