---
import Layout from "../../layouts/Layout.astro";
import Card from "./card.astro";
import NavBar from "../../components/navfront/nav.astro";
import Stars from "../../components/background/stars.astro";

---

<Layout title="AndesVr - contact">
  <main>
    <Stars />
    <NavBar />
    <Card />
  </main>
  <style></style>
</Layout>
