---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/navfront/nav.astro";
import Home from "../components/homedata/home.astro";
import Stars from "../components/background/stars.astro";

---

<Layout title="AndesVr - home">
  <main>
    <NavBar />
    <Home />
  </main>
  <style></style>
</Layout>
